<!--<div>-->
<!--  <input [(ngModel)]="password" id="passwordInput">-->
<!--  <button (click)="submitCredentials()">Submit</button>-->
<!--</div>-->
<!--<div>-->
<!--  <p>{{password}}</p>-->
<!--</div>-->
<nav class="navbar navbar-dark bg-dark py-5" style="background-color: #7e7d7d">
  <nav class="container-fluid">
  <a class="navbar-brand" >CSULB CONNECT </a>
    <nav class="navbar navbar-collapse">
      <a class ="nav-link" routerLink="/sign-up"> SIGN UP</a>
      <a class ="nav-link" routerLink="/log-in">SIGN UP</a>
    </nav>
  </nav>

</nav>


<router-outlet></router-outlet>
