<!--<div>-->
<!--  <input [(ngModel)]="password" id="passwordInput">-->
<!--  <button (click)="submitCredentials()">Submit</button>-->
<!--</div>-->
<!--<div>-->
<!--  <p>{{password}}</p>-->
<!--</div>-->
<nav class="navbar  navbar-light bg-light" style="background-color: #7e7d7d">
  <nav class="container-fluid">
      <img src="../static/assets/logo.png" width="50" class="d-lg-inline-block rounded-pill">
      <a class ="nav-link position-relative m-3" routerLink="/log-in">LOG IN </a>
      <a class ="nav-link position-relative m-3" routerLink="/sign-up"> SIGN UP</a>
  </nav>
</nav>

<router-outlet></router-outlet>
