<!--<div>-->
<!--  <input [(ngModel)]="password" id="passwordInput">-->
<!--  <button (click)="submitCredentials()">Submit</button>-->
<!--</div>-->
<!--<div>-->
<!--  <p>{{password}}</p>-->
<!--</div>-->
<nav class="navbar sticky-top navbar-light bg-light" style="background-color: #7e7d7d">
  <nav class="container-fluid">
<!--    <nav class="navbar navbar-collapse">-->
      <img src="../static/assets/logo.png" width="50" height="30" class="d-lg-inline-block">
      <a class ="nav-link align-content-end position-relative m-lg-3" routerLink="#">CONTACT INFORMATION</a>
      <a class ="nav-link align-content-end position-relative m-lg-3" routerLink="#">ASK US </a>
<!--    </nav>-->
  </nav>
</nav>


<router-outlet></router-outlet>
