<body>
    <nav>
        <div class = 'nav-left'>
            <a routerLink = "/home-page"><img src = '/static/assets/logo.png' class = 'logo'></a>
        </div>
        <div class = 'nav-right'>
            <ul> 
                <li> <a routerLink="/profile" ><img src= '/static/assets/profile-home.png' class = 'user'> </a></li>
                <li><div class="dropdown">
                    <button class="dropbtn"><img src= '/static/assets/setting.png' class = 'settings'></button>
                    <div class="dropdown-content">
                      <a routerLink="/log-in">Log Out</a>
                    </div>
                  </div></li>
            </ul>
        </div>
    </nav>
    
    <div class = 'container'> 
        <div class = 'left-side'>
            <div class="sidenav">
                <a href="#"> <img src = '/static/assets/world.png'>Global Post</a> 
                <a href="#"> <img src = '/static/assets/announc.png'>Announcments</a>
                <a href="#"> <img src = '/static/assets/friends.png'>friends</a>
            </div>
        </div>

        <div class = 'main'>
            <div class="user-postbox">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="users-header"></div>
                        <mat-card-title>{{firstName}} {{lastName}}</mat-card-title>
                        <mat-card-subtitle>{{privacy}}</mat-card-subtitle>
                    </mat-card-header>
                    <!--p>Write your post below</p-->
                    <form class="post-template">
                        <mat-form-field class="message-input-box" appearance="fill">
                          <mat-label>Write Post here</mat-label>
                          <input matInput #message maxlength="256" placeholder="Write post here!" [(ngModel)]="postText">
                        </mat-form-field>
                    </form>
                    <div *ngIf="uploadedFile && uploadedFile != ''">
                        <img src="{{uploadedFile}}">
                    </div>
                    <mat-card-actions class = 'post-buttons'>
                      <input style ="display: none" type ="file" (change)="onFileSelected($event)" #fileInput>
                      <button mat-button ><img src = '/static/assets/photo.png'></button>
                      <button mat-button (click) = "fileInput.click()"> <img src = '/static/assets/upload.png' ></button>
                      <button mat-button (click) = "onUpload()">POST</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <!--Attempt at programatically displaying posts-->
            <div *ngIf="postsLoaded">
            <!--div-->
            <div *ngFor="let recentPost of recentPosts" class="user-postbox">
            <!--div class="user-postbox"-->
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar style="background-image: url('{{profilePics.get(recentPost.author)}}');background-size: cover;"></div>
                        <mat-card-title>{{names.get(recentPost.author)}}</mat-card-title>
                        <mat-card-subtitle>Public    </mat-card-subtitle>
                    </mat-card-header>
                    <form class="post-template">
                        <p class="inputed post">
                            {{recentPost.message}}
                        </p>
                        <div *ngIf="recentPost.attachment !== 'null' && pictures.has(recentPost.attachment)">
                            <img class="scale-down-img" src="{{pictures.get(recentPost.attachment)}}">
                        </div>
                    </form>
                    <mat-card-actions class = 'post-actions'>
                        <button mat-button (click)="likePost(recentPost.postID)"><span *ngIf="likes.has(recentPost.postID) && likes.get(recentPost.postID) > 0">{{likes.get(recentPost.postID)}}</span><img src = '/static/assets/like.png'>LIKE</button>
                        <button mat-button (click)="commentOn(recentPost.postID)"><img src = '/static/assets/comments.png'>COMMENT</button>
                        <button mat-button><img src = '/static/assets/share.png'>SHARE</button>
                    </mat-card-actions>
                </mat-card>
                <div *ngIf="commentingOn === recentPost.postID">
                    <mat-card>
                        <mat-form-field class="message-input-box" appearance="fill">
                            <mat-label>Write Comment here</mat-label>
                            <input matInput #message maxlength="256" placeholder="Write comment here!" [(ngModel)]="commentText">
                        </mat-form-field>
                        <button mat-button (click)="postComment()">POST</button>
                    </mat-card>
                </div>
                <div *ngIf="comments.has(recentPost.postID)">
                    <mat-card *ngFor="let comment of comments.get(recentPost.postID)">
                        <mat-card-header>
                            <mat-card-title>{{names.get(comment.author)}}</mat-card-title>
                        </mat-card-header>
                        <div>
                            {{comment.message}}
                        </div>
                    </mat-card>
                </div>
            </div>
            </div>




            <!--This is an old post>
            <div class="user-postbox">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="users-header2"></div>
                        <mat-card-title>CSULB College</mat-card-title>
                        <mat-card-subtitle>{{privacy}}   {{currentDate}} </mat-card-subtitle>
                    </mat-card-header>
                    <form class="post-template">
                        <mat-form-field class="inputed post" appearance="fill">
                                <img src = "/static/assets/Walter_Pyramid.jpg">
                                <p>
                                    {{postText}}                             
                                </p>
                        </mat-form-field>
                    </form>
                    <mat-card-actions class = 'post-actions'>
                        <button mat-button><img src = '/static/assets/like.png'>LIKE</button>
                        <button mat-button><img src = '/static/assets/comments.png'>COMMENT</button>
                        <button mat-button><img src = '/static/assets/share.png'>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="user-postbox">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="users-header3"></div>
                        <mat-card-title>Mathew Martinez</mat-card-title>
                        <mat-card-subtitle>Private   Nov 08 2021, 10:30am</mat-card-subtitle>
                    </mat-card-header>
                    <form class="post-template">
                        <mat-form-field class="inputed post" appearance="fill">
                                <img src = "/static/assets/meeting.png">
                                <p>
                                    Last nights meeting was a great success! 
                                </p>
                        </mat-form-field>
                    </form>
                    <mat-card-actions class = 'post-actions'>
                        <button mat-button> {{likes}}<img src = '/static/assets/like.png'>LIKE</button>
                        <button mat-button><img src = '/static/assets/comments.png'>COMMENT</button>
                        <button mat-button><img src = '/static/assets/share.png'>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="user-postbox">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="users-header4"></div>
                        <mat-card-title>Rachel Pena</mat-card-title>
                        <mat-card-subtitle>Private   Nov 01 2021, 10:33am</mat-card-subtitle>
                    </mat-card-header>
                    <form class="post-template">
                        <mat-form-field class="inputed post" appearance="fill">
                                <p>
                                    These classes are killing me! Anyone want to meet up at the library to study?
                                </p>
                        </mat-form-field>
                    </form>
                    <mat-card-actions class = 'post-actions'>
                        <button mat-button><img src = '/static/assets/like.png'>LIKE</button>
                        <button mat-button><img src = '/static/assets/comments.png'>COMMENT</button>
                        <button mat-button><img src = '/static/assets/share.png'>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div-->
        </div>

        <div class = 'right-side'></div>
    </div>
</body>

