<body>
    <nav>
        <div class = 'nav-left'>
            <img src = '/static/assets/logo.png' class = 'logo'>
        </div>
        <div class = 'nav-mid'>
            <div class="search">
                <input type="text" placeholder=" Search">
                <img class="btn my-1 my-sm-0" type="submit" src="/static/assets/search.png"> 
            </div>
        </div>
        <div class = 'nav-right'>
            <ul> 
                <li> <img src = '/static/assets/message.png' class = 'mssg'> </li>
                <li> <img src= '/static/assets/notification.png'class = 'notif'> </li>
                <li> <img src= '/static/assets/profile-home.png' class = 'user'> </li>
            </ul>
        </div>
    </nav>
    <div class = 'container'> 
        <div class = 'left-side'></div>


        <div class = 'main'>
            
        </div>


        <div class = 'right-side'></div>
    </div>
</body>

