<body>
    <nav>
        <div class = 'nav-left'>
            <img src = '/static/assets/logo.png' class = 'logo'>
        </div>
        <div class = 'nav-mid'>
            <div class="search">
                <input type="text" placeholder=" Search">
                <button class="btn my-1 my-sm-0" type="submit">Search</button>
            </div>
        </div>
        <div class = 'nav-right'>
            <ul> 
                <li> <img src = '/angular/src/assets/message.svg' class = 'mssg'> </li>
                <li> <img src= '/notifications (1).svg'class = 'notif'> </li>
                <li> <img src= '/angular/src/assets/user.svg' class = 'user'> </li>
            </ul>
        </div>
    </nav>
</body>

