<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>Connect Long Beach</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="/static/styles.31d6cfe0d16ae931b73c.css"></head>
<body style="margin: 0">
  <app-root></app-root>
<script src="/static/runtime.a2a1b4bcd5a9f4d4e61f.js" defer></script><script src="/static/polyfills.a809672107b8756266fb.js" defer></script><script src="/static/main.70cc5a97257d2db89fde.js" defer></script>

</body></html>