<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <title>Angular</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="/static/styles.31d6cfe0d16ae931b73c.css"></head>
<body>
  <app-root></app-root>
<script src="/static/runtime.a2a1b4bcd5a9f4d4e61f.js" defer></script><script src="/static/polyfills.2cbba7863efffe02ce30.js" defer></script><script src="/static/main.0ceaa86c26c189f585b7.js" defer></script>

</body></html>