<mat-grid-list cols="4" rows="3">

  <mat-grid-tile class ="mat-grid-tile" colspan="4" rows="1" rowspan="1" class ="upper-left"   [style.background-image]="'url(' + background + ')'">
    <img mat-card-image src="{{pa}}" alt="Profile Picture" >
    <button mat-raised-button class="button-upper" (click)="openDialog()">Customize Profile</button>
  </mat-grid-tile>


  <mat-grid-tile class ="mat-grid-tile" cols="1" rows="3" rowspan="2">

    <mat-card class="card-container-top">
      <mat-card-title>GENDER</mat-card-title>
      <mat-card-content *ngFor="let gender of selectedGender" >
        <p>{{gender}}</p>
      </mat-card-content>
    </mat-card>

    <mat-divider inset></mat-divider>

    <mat-card class="card-container-middle">
      <mat-card-title>INTEREST</mat-card-title>
      <mat-card-content>
        <p>SOCCER</p>
      </mat-card-content>
    </mat-card>

    <mat-divider inset></mat-divider>

    <mat-card class="card-container-low">
      <mat-card-title>COURSES</mat-card-title>
      <mat-card-content *ngFor="let class of selectedCourses" >
        <p>{{class}}</p>
      </mat-card-content>
    </mat-card>

  </mat-grid-tile>


 <mat-grid-tile class ="mat-grid-tile" cols="3" colspan="3"  rowspan="2">

   <div class="container-info">
     <div class ="container-name">
       <p> {{firstName}} {{lastName}}</p>
     </div>
     <div class ="container-other">
       <p>{{major}}</p>
       <p>{{year}}</p>
     </div>
   </div>

 </mat-grid-tile>

</mat-grid-list>

