<mat-grid-list cols="4" rows="3">

  <mat-grid-tile class ="mat-grid-tile" colspan="4" rows="1" rowspan="1" class ="upper-left"   [style.background-image]="'url(' + background + ')'" [style.background-size]="'100% 100%'">
    <img mat-card-image class="mainPicture" src="{{pa}}" alt="Profile Picture" >
    <button mat-raised-button class="button-upper" (click)="openDialog()">Customize Profile</button>
  </mat-grid-tile>


  <mat-grid-tile class ="mat-grid-tile" cols="1" rows="3" rowspan="2">

    <mat-card class="card-container-top">
      <mat-card-title>GENDER</mat-card-title>
      <mat-card-content *ngFor="let gender of selectedGender" >
        <p>{{gender}}</p>
      </mat-card-content>
    </mat-card>

    <mat-divider inset></mat-divider>

    <mat-card class="card-container-middle">
      <mat-card-title>INTEREST</mat-card-title>
      <mat-card-content>
        <p>SOCCER</p>
      </mat-card-content>
    </mat-card>

    <mat-divider inset></mat-divider>


    <mat-card class="card-container-low">
      <mat-card-title>COURSES</mat-card-title>
      <div class="scrollable">
        <mat-card-content *ngFor="let class of selectedCourses" >
          <p>{{class}}</p>
        </mat-card-content>
      </div>
    </mat-card>

  </mat-grid-tile>


 <mat-grid-tile class ="mat-grid-tile" cols="3" colspan="3"  rowspan="2">

   <div class="container-info">
     <div class ="container-name">
       <p> {{firstName}} {{lastName}}</p>
     </div>
     <div class ="container-other">
       <p>{{major}}</p>
       <p>{{year}}</p>
     </div>
   </div>

   <mat-card class="posting">
     <img mat-card-image class ="poster" src="{{pa}}" alt="{{firstName}}" [style.boder-radius]="'50%;'">
     <mat-card-subtitle>{{firstName}} {{lastName}}</mat-card-subtitle>
     <div class="user-postbox">
      <mat-card>
          <mat-card-header>
              <div mat-card-avatar class="users-header2"></div>
              <mat-card-title>{{firstName}} {{lastName}}</mat-card-title>
              <mat-card-subtitle>{{privacy}}   {{currentDate}} </mat-card-subtitle>
          </mat-card-header>
          <form class="post-template">
              <mat-form-field class="inputed post" appearance="fill">
                      <img src = "/static/assets/Walter_Pyramid.jpg">
                      <p>
                          {{postText}}
                      </p>
              </mat-form-field>
          </form>
          <mat-card-actions class = 'post-actions'>
              <button mat-button><img src = '/static/assets/like.png'>LIKE</button>
              <button mat-button><img src = '/static/assets/comments.png'>COMMENT</button>
              <button mat-button><img src = '/static/assets/share.png'>SHARE</button>
          </mat-card-actions>
      </mat-card>
    </div>
   </mat-card>
 </mat-grid-tile>

</mat-grid-list>

