
.adjust-info{
  display: flex;
  justify-content: space-between;
  font-family: cursive;
}

.aligning-mat{
  display: flex;
  margin-top: 2%;
}
.bio-info{
  display: flex;
  justify-content: unset;
  font-family: cursive;
  margin-top:2px;
}

.biography-post{
  width: 90%;
  height: 180px;
  display: block;
  max-width: 90%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 2%;
  top: 2%;
  position: inherit;
}

.button-upper{
  position:absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.button-bio{
  border-radius: 50%;
  margin-left: 5%;
  height: 2%;
}

.card-container-top{
  height: 50px;
  margin: 6% 2% 2%;
}

.card-container-middle{
  color: black;
  right: 5%;
  height: 180px;
}

.card-container-low{
  color: black;
  right: 5%;
  height: 180px;
}
/*extend the comments to full width*/
.comments{
  width: 100%;
}

/*.mat-grid-tile{*/
/*  border-color: black;*/
/*  border-style: solid;*/
/*}*/

.mainPicture{
  margin:20px;
  height: 80%;
  width: 30%;
  border-radius: 50%;
}

.posting{
  width: 70%;
  height: auto;
  margin: 20px auto auto;
}

.mat-card-image:first-child {
  border-radius: 50%;
  margin-top: 10px;

}

textarea.mat-input-element{
  font-family: emoji;
  padding: 5px 5px;
  margin: -2px 0;
  height: 100px;
  width: 100%;
  font-size: 15px;
  border-style: inherit ;
}

.poster{
  margin: 20px;
  height: 10%;
  width: 10%;
  border-radius: 50%;
}


.upper-left{
  background-size: cover;
  position: absolute;
  height: inherit;
  width: inherit;
}
.scrollable {
  overflow-y: auto;
  box-sizing: border-box;
  position: absolute;
  height: 160px;
  padding: inherit;
}

