/*background image is not displaying when adding ::before. However if ::before is removed
it will not allow us to click on the dialog button*/
.upper-left::before{
  background-image: url('/static/assets/Walter_Pyramid.jpg');
  background-size: cover;
  height: auto;
  position: fixed;
  background-size: 100% 100%;
  z-index: -1;
}

.button-upper{
  position:absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.mat-grid-tile{
  border-color: black;
  border-style: solid;
}

.mat-card-image:first-child {
  margin:20px;
  height: 80%;
  width: 30%;
  border-radius: 50%;
}

.mat-card-image-dialog{
  height: 40%;
  width: 30%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.card-container-top{
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  color: black;
  position: absolute;
  top: 0;
  display: block;
  justify-content: space-between;
  border-style: solid;
  border-color: black;
  margin: 20%;
}

.card-container-middle{

  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  color: black;
  position: absolute;
  display: block;
  justify-content: space-between;
  border-style: solid;
  border-color: black;
  margin: 20%
}

.card-container-low{

  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  color: black;
  position: absolute;
  display: block;
  justify-content: space-between;
  border-style: solid;
  border-color: black;
  margin: 20%;
  bottom:0px;
}

.container-info{
  position:absolute;
  top:20px;
  left: 80px;
}

.container-other{
  display: flex;
}
.container-other p{
  margin: 10px;
}
