<div class = "container">
<!--  <div class ="no-gutters ">-->
    <div class = "lefter col-lg-7 " style="margin-left: 2%; margin-top: 3%;width: 100%;">
     <img src="../../static/assets/logo.png" style="height: 50%;width: 50%;margin-left: 130px;margin-top: 30px;">
     <h1 class="font-weight-bold  py-3" style="font-size: 100px;">Connect LB:</h1>
     <h2 style="font-size: 50px;">Bringing students together one post at a time</h2>
   </div>
   <div class="row col-lg-9" style="left: 300px;bottom: 320px;margin-top: 100px;margin-bottom: 50px;margin-right: 15px;">

    <form (ngSubmit)="onInfoItem(f)" #f="ngForm">
       <div class = "form-row">
         <div class="col-lg-12" style="margin-left: 160px;">
           <input type="FirstName" name="fname" placeholder="First Name" ngModel required #fname="ngModel" class="form-control my-3 p-4"  >
             <div *ngIf="(f.submitted && fname.invalid)" [ngClass] = "'error'">
               <div *ngIf="fname.errors?.required">
                 First name is required.
               </div>
             </div>
         </div>
       </div>

       <div class = "form-row">
         <div class="col-lg-12" style="margin-left: 160px;margin-right: 160px;">
           <input type="lastName" name="lname" placeholder="Last Name" ngModel required #lname="ngModel"  class="form-control my-3 p-4">
             <div *ngIf="(f.submitted && lname.invalid)" [ngClass] = "'error'">
               <div *ngIf="lname.errors?.required">
                 Last name is required.
               </div>
             </div>
         </div>
       </div>

       <div class = "form-row">
         <div class="col-lg-12" style="margin-left: 160px;">
           <input type="Email" name="email" placeholder="Email" ngModel required [pattern]="emailPattern" #emailAddress="ngModel"  class="form-control my-3 p-4">
             <div *ngIf="emailAddress.invalid && f.submitted" [ngClass] = "'error'">
                <div *ngIf="emailAddress.errors?.required">
                    Email is required.
                  </div>
              <div *ngIf="emailAddress.errors?.pattern">
                 Email is invalid. Please use a CSULB student email.
               </div>
             </div>
         </div>
       </div>

       <div class = "form-row">
         <div class="col-lg-12" style="margin-left: 160px;">
           <input type="Password" placeholder="Password" ngModel required [pattern]="passPattern" name="passwordFieldName" #pass="ngModel"  class="form-control my-3 p-4">
              <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" [ngClass] = "'error'">
               <div *ngIf="pass.errors?.required">
                 Password is required.
               </div>
               <div *ngIf="pass.errors?.pattern">
                  Password is invalid. Please ensure that it meets the requirements.
                </div>
             </div>
         </div>
       </div>

       <div class = "form-control">
         <div class="col-lg-12" style="margin-left: 160px;">
           <input type="Password" placeholder="Confirm password" ngModel required ngValidateEqual="passwordFieldName" #pass2="ngModel"  class="form-control my-3 p-4">

             <div *ngIf="pass2.invalid && (pass2.dirty || pass2.touched)" [ngClass] = "'error'">
                <div *ngIf="pass2.errors?.required">
                  Password is required.
                </div>
                <div *ngIf="pass2.hasError('notEqual') && !pass2.errors?.required">
                    Passwords don't match.
                 </div>
              </div>
         </div>
       </div>

       <!-- <div class="form-row"> -->

        <!-- <div class="form-group col"> -->

          <select class="Month" name="month" style="margin-left: 160px;" ngModel required #month="ngModel">
            <option value="" disabled selected>Month</option>
            <option>January</option> <option>February</option> <option>March</option>
            <option>April</option> <option>May</option> <option>June</option> <option>July</option>
            <option>August</option> <option>September</option> <option>October</option>
            <option>November</option> <option>December</option>
          </select>
          <div *ngIf="(f.submitted && month.invalid)" [ngClass] = "'error'">
              <div *ngIf="month.errors?.required">
                  Month is required.
              </div>
          </div>

        <!-- </div> -->

        <!-- <div class="form-group col"> -->

          <select class="Day" name="day"  ngModel required #day="ngModel" >
            <option value="" disabled selected>Day</option>
            <option>1</option> <option>2</option> <option>3</option> <option>4</option> <option>5</option> <option>6</option>
            <option>7</option> <option>8</option> <option>9</option> <option>10</option> <option>11</option> <option>13</option>
            <option>14</option> <option>15</option> <option>16</option> <option>17</option> <option>18</option> <option>19</option>
            <option>20</option> <option>21</option> <option>22</option> <option>23</option> <option>24</option> <option>25</option>
            <option>26</option> <option>27</option> <option>28</option> <option>29</option> <option>30</option> <option>31</option>
          </select>
          <div *ngIf="(f.submitted && day.invalid)" [ngClass] = "'error'">
              <div *ngIf="day.errors?.required">
                Day is required.
              </div>
          </div>
        <!-- </div> -->

        <!-- <div class="form-group col"> -->

        <!-- <div> -->
          <select class="year" name="year" ngModel required #year="ngModel">
            <option value="" disabled selected>Year</option>
            <option>1980</option> <option>1981</option> <option>1982</option> <option>1983</option> <option>1984</option> <option>1985</option>
            <option>1986</option> <option>1987</option> <option>1988</option> <option>1989</option> <option>1990</option> <option>1991</option>
            <option>1992</option> <option>1993</option> <option>1994</option> <option>1995</option> <option>1996</option> <option>1997</option>
            <option>1998</option> <option>1999</option> <option>2000</option> <option>2001</option> <option>2002</option> <option>2003</option>
            <option>2004</option> <option>2005</option> <option>2006</option> <option>2007</option> <option>2008</option> <option>2009</option>
          </select>
          <div *ngIf="(f.submitted && year.invalid)" [ngClass] = "'error'">
            <div *ngIf="year.errors?.required">
              Year is required.
            </div>
          </div>
        <!-- </div> -->
        <!-- </div> -->


      <!-- </div> -->


       <div class = "form-row mt-3">
            <select class="Gender" name="gender" style="margin-left: 190px;" ngModel required #gender="ngModel">
                <option value="" disabled selected>Gender</option>
                <option>Female</option> <option>Male</option> <option>Non-binary</option>
                <option>Other</option> <option>Prefer not to say</option>
            </select>
            <div *ngIf="(f.submitted && gender.invalid)" [ngClass] = "'error'">
                <div *ngIf="gender.errors?.required">
                Gender is required.
                </div>
            </div>
       </div>

       <div class = "form-row mt-3">
         <div class="term" style="margin-left: 20%;margin-right: 3%;">
           <a href="#">
             <input type="checkbox" class= "my-3 p-2">
             <label> Terms</label></a>
           <a href="#">
             <input type="checkbox" class=  "my-3 p-2"  style="margin-left: 20%;">
             <label> Privacy Policy</label><br></a>
         </div>
       </div>
       <div class = "form-row">
         <div class="col-lg-9"style="margin-left: 5%;margin-right: 5%;">
           <a href="#">
             <button type="submit" class="btn1 mt-3 mb-5">Submit</button></a>
         </div>
       </div>
    </form>
    <!-- </div> -->
   </div>
<!--  </div>-->
</div>

