*{
  padding: 0px;
  margin: 10px;
  box-sizing: border-box;
}
h2{
  text-align: center;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container::before {
  content: "";
  background-image: url('/static/assets/Walter_Pyramid.jpg');
  background-size: cover;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.70;
  background-position: top 50% right 0%;
  z-index: -1;
}
.lefter{
  float:left;
  padding: 10px;
}
.row{
  float:right;
  border-radius: 10px;
  background: linear-gradient(315deg, #636262, #f0f0f0);
  padding: 30px;
}
.btn1{
  border: none;
  outline: none;
  height: 50px;
  width: 90%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}
.btn1:hover{
  background-color:goldenrod;
  border: 1px solid;
  color: black;
}

.error{
  color: red;
}
