.wrap{
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
}

.text-area-edit{
  display: flex;
  margin: 20px auto;
  width: 100%;
}
.button-design{
  display: flex;
  margin: 20px auto;
}
